.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

progress {
  width: 100%;
}

ul {
  padding: 0;
}
li {
  list-style-type: none;
}

button {
  font-size: 24px;
  margin: 10px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
  supported by Chrome, Opera and Firefox */
}

.gameOver {
   margin-bottom: 10px;
}

.sayThisPhrase, .gameOverText {
   color: red;
   margin: 5px;
}

.sayThisLabel, .listenForTheseLabel {
   margin: 5px;
}

.phraseButtonList {
   margin: 5px;
}

.phraseButtonList button {
   color: #ddd;
   background-color: #222;
   width: 100%;
   margin: 2px 0;
   padding: 5px;
}

.playerInfo, .startAndPlayerInfo {
   margin: 0;
   padding: 5px;
   background-color: #222;
   color: #ddd;
}

.startAndPlayerInfo {
   margin-bottom: 10px;
}

.startAndPlayerInfo button {
   color: #2d2;
   background-color: #444;
}

.title {
   margin: 5px;
}

.howToPlayLabel {
   margin-top: 0;
}
